Python/test.py
C++/test.cpp
C++/test.o
C++/test
C++/test2.cpp
C++/test2.o
C++/test2
HR/Mathematics/test.cpp
HR/Mathematics/*.o
HR/Mathematics/test
HR/Mathematics/myInput.txt
HR/SolvedProblems/test.cpp
HR/SolvedProblems/*.o
HR/SolvedProblems/test
HR/SolvedProblems/myInput.txt
HR/SolvedProblems/input31.txt
HR/SolvedProblems/test2
HR/SolvedProblems/test2.cpp
C++/test.cpp
C++/*.o
C++/test
python/test.py
