Python/test.py
C++/test.cpp
C++/test.o
C++/test
C++/test2.cpp
C++/test2.o
C++/test2
HR/Mathematics/test.cpp
HR/Mathematics/test.o
HR/Mathematics/test
HR/SolvedProblems/test.cpp
HR/SolvedProblems/test.o
HR/SolvedProblems/test
HR/SolvedProblems/myInput.txt

